<video autoplay="autoplay" loop muted controls="false">
    <source src="assets/videos/ECUADOR_TRAVEL(youtube.com).mp4" type="video/mp4">
</video>
<div>
    <img src="assets/images/logo-sistema.png" class="rounded mx-auto d-block">	
</div>
<div class="text-white">
    <p class="mb-0 text-center">El Ministerio de Turismo le da la cordial bienvenida a la plataforma SIETE en donde podrá realizar los trámites pertinentes a la regularización de la actividad turística que usted ejerza.</p>
</div>