<div class="row">
    <h1 class="col-12 text-right">
       Órdenes de Pagos - MINTUR
    </h1>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-hover mt-2">
            <tbody>
                <tr>
                    <td>
                        <div class="col-12">
                            <h3 class="col-12">Descargar Órdenes de Pagos</h3>
                            <div class="col-12">
                                
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-12">
                            <h3 class="col-12">Cargar Reporte de Pagos</h3>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>