<div class="container" class="login-page">
  <div class="row"><div class="col-12" style="height: 100px;"></div></div>
  <div class="row">
    <div class="col-md-3 col-lg-3 col-sm-1"></div>
    <div class="col-md-6 col-lg-6 col-sm-10 pretty-form">
      <form class="m-md-4 m-lg-4 m-sm-1">
        <div class="row">
          <div class="col-12 text-center mb-3">
            <img src="assets/images/logo-sistema.png" class="col-sm-12 col-md-10 col-lg-7" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="alert alert-info"
              role="alert"
            >
              Si usted tiene inconvenientes para ingresar al sistema, comuníquese con el Ministerio de Turismo.<br/>
              <a href="https://www.turismo.gob.ec/category/el-ministerio/" target="_blank">Ir al Sitio Web del Ministerio de Turismo</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Correo Electrónico"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Contraseña"
            [(ngModel)]="password"
          />
        </div>
        <div class="row" *ngIf="esperando">
          <div class="col-12">
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">Espere...</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button
              type="submit"
              class="btn btn-success mr-2"
              (click)="login()"
            >
              Ingresar
            </button>
            <a [routerLink]="['/register']" class="btn btn-primary mr-2">
              Crear Cuenta
            </a>
            <button
              type="button"
              class="btn btn-warning"
              (click)="password_recovery()"
            >
              Recuperar Contraseña
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div>
    <div class="col-12 text-center mt-5">
      <img src="assets/images/ecuador-love-life.png"/>
    </div>
    <div class="col-12 text-center text-light">
      <small>Ministerio de Turismo del Ecuador</small>
    </div>
  </div>
</div>